<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xmlns="http://java.sun.com/xml/ns/javaee"
         xmlns:web="http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd"
         xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd"
         id="CQI_SRU_SERVER" version="2.5">
    <display-name>CQI SRU/CQL Service</display-name>

    <servlet>
        <display-name>CQI SRU/CQL Service (HTTP Interface)</display-name>
        <servlet-name>CQISRUServlet</servlet-name>
        <servlet-class>eu.clarin.sru.server.utils.SRUServerServlet</servlet-class>
        <init-param>
            <param-name>cqi.serverHost</param-name>
            <param-value></param-value>
        </init-param>
        <init-param>
            <param-name>cqi.serverPort</param-name>
            <param-value></param-value>
        </init-param>
        <init-param>
            <param-name>cqi.serverUsername</param-name>
            <param-value></param-value>
        </init-param>
        <init-param>
            <param-name>cqi.serverPassword</param-name>
            <param-value></param-value>
        </init-param>
        <init-param>
            <param-name>cqi.defaultCorpus</param-name>
            <param-value>TUEBA-DDC</param-value>
        </init-param>
        <init-param>
            <param-name>cqi.defaultCorpusPID</param-name>
            <param-value>11858/00-1778-0000-0001-DDAF-D</param-value>
        </init-param>
        <init-param>
            <param-name>sru.allowOverrideMaximumRecords</param-name>
            <param-value>false</param-value>
        </init-param>
        <init-param>
            <param-name>sru.allowOverrideIndentResponse</param-name>
            <param-value>true</param-value>
        </init-param>
        <init-param>
            <param-name>sruServerSerachEngineClass</param-name>
            <param-value>eu.clarin.sru.cqibridge.CqiSRUSearchEngine</param-value>
        </init-param>
        <load-on-startup>1</load-on-startup>
    </servlet>

    <servlet-mapping>
        <servlet-name>CQISRUServlet</servlet-name>
        <url-pattern>/</url-pattern>
    </servlet-mapping>

</web-app>
